%li{ id: "task-#{task.id}" }
  .task-item{:class => "#{"done_task" if task.completed?}"}
    .name
      - if task.completed?
        .status.done_task
          = link_to 'Undone', uncompleted_project_task_path(@project, task.id), method: :put, class: 'btn done'
        %p.done_task
          -if task.deadline?
            %span
              Deadline:
              %span
                = task.deadline.strftime("%d.%m.%y | %H:%M")
          = task.name
      - else
        .status
          = link_to 'Done', completed_project_task_path(@project, task.id), method: :put, class: 'btn done'
        %p
          -if task.deadline?
            %span
              Deadline:
              %span
                = task.deadline.strftime("%d.%m.%y | %H:%M")
          = task.name
    .manage-btn
      = link_to 'Edit', edit_project_task_path(@project, task.id), class: 'btn edit '
      \|
      = link_to 'Delete', project_task_path(@project, task.id), class: 'btn delete', method: :delete

