.project-lists{ "data-update-url" => "#{position_projects_url(@project)}" }
  - @projects.order('position').each do |project|
    .project-card{ id: "project-#{project.id}" }
      .project-header
        .title
          %h2
            = project.name
        .manage-btn
          = link_to 'edit', edit_project_path(project), class: 'btn edit'
          = link_to 'x', project_path(project), method: :delete, class: 'btn delete'
      #tasks
        .groupe-list{ "data-update-url" => "#{position_project_tasks_url(project)}" }
          - project.tasks.order('position').each do |project_task|
            %li{ id: "task-#{project_task.id}" }
              .task-item{:class => "#{"done_task" if project_task.completed?}"}
                .manage-btn
                  -if project_task.deadline?
                    .dead-line{:class => "#{"set-deadline" if project_task.deadline?}"}
                      %p
                        Deadline:
                        %span
                          = project_task.deadline.strftime("%d.%m.%y")
                  - else
                    .dead-line
                      %p
                        %span
                          = link_to 'Add deadline', edit_project_task_path(project, project_task.id)
                  .option
                  .status
                    - if project_task.completed?
                      = link_to 'Undone', uncompleted_project_task_path(project, project_task.id), method: :put, class: 'btn done'
                    - else
                      = link_to 'Done', completed_project_task_path(project, project_task.id), method: :put, class: 'btn done'
                    = link_to 'Edit', edit_project_task_path(project, project_task.id), class: 'btn edit '
                    = link_to 'х', project_task_path(project, project_task.id), class: 'btn delete', method: :delete
                .name
                  = project_task.name
      .add-new-task
        = simple_form_for [project, @task] do |f|
          .field
            = f.text_field :name, placeholder: 'Start typing here to create task'
            = f.submit '+'
          = f.input :deadline, as: :datetime,:include_blank => true,  start_year: Date.today.year + 10, discard_hour: true, end_year: Date.today.year, order: [:day, :month, :year] 
  .project-card
    .project-header.new-project
      = form_for @project do |f|
        .manage-btn
          = f.text_field :name
          = f.submit 'Save'

