%p#notice= notice



.project-card
  .project-header
    .title
      %h1
        = @project.name
      -# %p
      -#   %b Status:
        = @project.status
    .manage-btn
      = link_to 'edit', edit_project_path(@project), class: 'btn edit'
      \|
      = link_to 'delete', projects_path, class: 'btn delete'
  .project-tasks
    = render @project_tasks
  .add-new-task
    = render 'tasks/form'
    

