%p#notice= notice



.project-card
  .project-header
    .title
      %h1
        = @project.name
    .manage-btn
      = link_to fa_icon("edit"), edit_project_path(@project)
      \|
      = link_to fa_icon("trash-alt"), projects_path, method: :delete
  .project-tasks
    = render @project_tasks
  .add-new-task
    = render 'tasks/form'
    

