%p#notice= notice



.project-card
  .project-header
    .title
      %h1
        = @project.name
      -# %p
      -#   %b Status:
      -#   = @project.status
    .manage-btn
      = link_to edit_project_path(@project) do
        = image_tag 'edit'
      \|
      = link_to projects_path do 
        = image_tag 'delete'
  .project-tasks
    = render @project.tasks
  .add-new-task
    = render 'tasks/form'
    

