%p#notice= notice

.project-card
  .project-header
    .title
      %h2
        = @project.name
    .manage-btn
      = link_to 'edit', edit_project_path(@project), class: 'btn edit'
      \|
      = link_to 'delete', projects_path, class: 'btn delete'
  #tasks.groupe-list
    = render @project_tasks
  .add-new-task
    = render partial: 'tasks/form', locals: { task: @project.tasks.build }
    

